html{
}

body{
	display: flex;
	flex-direction: column;
	height: 200vh;
	width: 100vw;
	margin: 0;
	overflow-x: hidden;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body.hidecontent{	
    overflow-y: hidden;
}

.preloader{
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,1);
	background-image: radial-gradient(#63009b,#25003e);
	z-index:999999;
	transition: opacity 0.5s ease-in;
}

.loader{
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 30vh;
	width: 30vh;
	border-radius: 50%;
	border: solid 10px transparent;
	color: rgba(255,255,255,1);
	transform: translate(-50%,-50%);
	font-size: 150%;
	line-height: 150%;
	font-family: Proxima;	
	animation: loader_circle 2s infinite;
}

.loader .loader_text,.loader_left,.loader_right{
	margin: auto;
}

.loader_text{
	font-family: Open Sans;
	animation: loader_for_text 2s infinite;
}

.loader_left{
	animation: loader_for_left 2s infinite;
}

.loader_right{
	animation: loader_for_right 2s infinite;
}

.blurScreen{
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: black;
	opacity: 0;
	z-index: 2;
}

.main_block{
	font-size: 80px; 
	text-align: center;
	margin: auto;
	color: rgba(0,0,0,0.1);
	width: 100%;
	height: 50%;
	display: flex;
	position: relative;
	overflow: hidden;
    background-color: black;
    perspective: 1000px;
    perspective-origin: center bottom;
    background-image: radial-gradient(circle at 100% ,#20052ffa, #2d165a);
    z-index: 5;
	flex-shrink: 0;
	transition: filter 0.5s linear;
}

.main_block .sign{
	/*transition: opacity 1s ease-out,
				transform 1s ease-out;
	float: left;
	width: 60%;
	text-align: center;
	margin: auto;
	z-index: 1;*/
	position: absolute;
	bottom: 15%;
	left: 5%;
	text-align: left;
	font-family: Open Sans;
}

.me{
	font-size: 0.3em;
	color: rgba(255,255,255,0.5);
}

.name{
	font-size: 1em;
	font-weight: bold;
	color: rgba(255,255,255,1);
}

.hide{
	opacity: 0;
	transform: scale3d(0.5,0.5,0.5) /*translateY(20px)*/;
}

.footer{
	position: absolute;
	bottom: 5%;
	left: 5%;
	height: 52px;
	width: auto;
	z-index: 0;
	display: inline-flex;
}

.icon{
	display: block;
	margin-right:10px;
	width: 52px;
	height: 52px;
	background-image: url(../pics/icon.png);
	transition: transform 0.3s cubic-bezier(.5, -1, .5, 2),
				opacity 0.2s linear;
}

.icon:hover{
	transform: scale(1.1);
}

.icon.vk{
	background-position: -70px 0px;
}

.icon.tg{
	background-position: -140px -210px;
}

.icon.gm{
	background-position: -70px -140px;
}

.bottom_menu{
	display: flex;
	flex-direction: column;
	height: 96vh;
	position: relative;
	padding: 2vh 0 2vh 0;
	background-color: white;
	z-index: 2;
}

.close{
	display: none;
	position: absolute;
	top: calc(12.5% - 25px);
	right: 50px;
	height: 50px;
	width: 50px;
	background-color: rgba(255,255,255,0);
	/*border-radius: 10px;
	border:1px dashed rgba(0,0,0,0.2);*/
	transition: all 0.5s ease-in;
	cursor: pointer;
	z-index: 2;
}

.close.visible{
	display: block;
}

.close::after,
.close::before{
	display: block;
	position: absolute;
	/*background-color: #878787;*/
	background-color: white;
	height: 10px;
	width:100%;
	content: '';
	left: 0;
	top: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.4), 2px 0px 5px rgba(0,0,0,0.4);
	transition: all 0.7s ease-in;
}

.visible.close:hover::after{
	/*transform: scale(1.1)
			rotate(45deg);*/
	animation: krest_1 0.5s;
}

.visible.close:hover::before{
	/*transform: scale(1.1)
			rotate(-45deg);*/
	animation: krest_2 0.5s;
}

.visible.close::after{
	transform: rotate(45deg);
}

.visible.close::before{
	transform: rotate(-45deg);
}

.razdel{
	display: flex;
	width: 80%;
	height: 22vh;
	top: 0;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: normal;
	/*border-bottom: 1px solid #717171;*/
	/*box-shadow: 3px 0px 4px rgba(80,80,80,0.3),
				0px 4px 4px rgba(80,80,80,0.3), 
				-3px 0px 4px rgba(80,80,80,0.3);*/
	border-radius: 20px;
	position: relative;
	cursor: pointer;
	transition: transform 0.5s ease-out,
				opacity 0.5s ease-out,
				top 2s cubic-bezier(.88,-0.42,.68,.96);
/*	transform: translateY(100px);
	opacity: 0.1;*/
	overflow: hidden;
}

.razdel.visible{
	transform: translateY(0px);
	opacity: 1;
}

.razdel:hover{
	transform: scale(1.02);
}

.disable{
	transform: scale(0.1);
	border: none;
	opacity: 0;
	margin: 0;
}

.up {
	right: 3%;
	bottom: 5%;
	height: 50px;
	width: 50px;
	position: fixed;
	font-family: Open Sans;
	font-size: 44px;
	color: #fff;
	display: block;
	z-index: 10;
	cursor: pointer;
	transform: rotateZ(90deg);
	transition: transform 0.3s ease-in, color 0.3s ease-in;
	text-align: center;
	line-height: 45px;
}

/*.up:hover {
	transform: scale(1.1) rotateZ(-90deg);
}*/

#r1.top,#r2.top,#r3.top,#r4.top{
	transition: transform 0.3s cubic-bezier(.88,-0.42,.68,.96);
	font-size: 2em;
	box-shadow: 0 5px 15px rgba(0,0,0,0.35);
	border-radius: 0px;
	height: 25vh;
	width: 100%;
	z-index: 1;
	margin: 0;
}

#r1.top{
	transform: translateY(calc(-2vh));
}

#r2.top{
	transform: translateY(calc(-24vh));
}

#r3.top{
	transform: translateY(calc(-46vh));
}

#r4.top{
	transform: translateY(calc(-68vh));
}

.razdel .pic{
	display: flex;
	width: 25%;
	height: 100%;
	overflow: hidden;
}

.razdel .pic img{
	max-height: 90%;
	max-width: 90%;
	object-fit: cover;
	margin: auto;
	transition: transform 0.1s linear, filter 0.1s linear;
	z-index: -1;
}

.razdel .cont{
	display: flex;
	width: 75%;
	/*background-color:#4d4d4d;*/
}

.razdel .cont1{
	display: flex;
	width: 75%;
	/*background-color:#5a5a5a;*/
}

.razdel .cont p{
	margin: auto;
	color: #777;
	transition: font-size 0.3s linear;
}

.zatem{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	border-radius: inherit;
	background: linear-gradient(to right, #3e03602e, rgba(52, 2, 81, 0.73));
	opacity: 0;
	transition: opacity 0.2s linear;
	z-index: 0;
}

.zatem.zatemOn{
	opacity: 1;
}

img.picIncr{
	transform: scale(1.12);
	filter: blur(2px);
}

.cont p.contBright{
	color: white;
	z-index: 0;
}

.info{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 25vh;
	left: 0;
	width: 100vw;
	height: 75vh;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 2em;
	font-weight: normal;
	background: linear-gradient(to bottom,#20052f 0,#2d165a);
}

.info p, .info h3{
	animation: text 0.6s ease-out;
}

.info p{
	color: rgb(159, 159, 159);
	margin: 10px 20px 0 90px;
	/*margin-top: auto;*/
	margin-bottom: auto;
	font-size: 0.7em;
}

.info h3{
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	margin: 10px 20px 0 70px;
	margin-top: auto;
	/*margin-bottom: auto;*/
}

.info.disable{
	display: none;
}

#inf4{
	flex-direction: row;
}

.names{
	display: flex;
	/*height: 100%;
	width: 50%;*/
	flex-direction: column;
	margin: auto;
	animation: text 0.6s ease-out;
}

.names h1{
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	cursor: pointer;	
	text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
}

.game{
	display: flex;
	/*height: 100%;
	width: 50%;*/
	margin: auto;
	animation: text 0.6s ease-out;
}

.gameCanvas{
	margin: auto;
	z-index: 1000;
	border: 2px solid rgba(0,0,0,.4);
	border-radius: 20px;
}

#transit{
	position: absolute;
	height: 100vh;
	width: 100%;
	z-index: 3;
}

@keyframes loader_for_text{
	0% { opacity: 0; }
	50%{ opacity: 1; }
	90%{ opacity: 0; }
	100%{ opacity: 0; }
}

@keyframes loader_for_left{
	0% { transform: translateX(200%); }
	30% { transform: translateX(0%); }
	70%{ transform: translateX(0%); }
	100%{ transform: translateX(200%); }	
}

@keyframes loader_for_right{
	0% { transform: translateX(-200%); }
	30% { transform: translateX(0%); }
	70%{ transform: translateX(0%); }
	100%{ transform: translateX(-200%); }	
}

@keyframes loader_circle{
	0% { 
		border-top-color: white;
		border-bottom-color: transparent; 
		border-right-color: transparent;
	}
	25% { 
		border-right-color: white;
		border-bottom-color: transparent; 
		border-left-color: transparent; 
	}
	50% { 
		border-bottom-color: white;
		border-left-color: transparent;
		border-top-color: transparent; 
	}
	75% { 
		border-left-color: white;
		border-top-color: transparent; 
		border-right-color: transparent;
	}
	100% {
		border-top-color: white;
		border-bottom-color: transparent; 
		border-right-color: transparent; 
	}
}

@keyframes krest_1 {
	0% { transform: scale(1) rotate(45deg); }
	50%{ transform: scale(1.2) rotate(45deg); }
	100%{ transform: scale(1) rotate(45deg); }
}

@keyframes krest_2 {
	0% { transform: scale(1) rotate(-45deg); }
	50%{ transform: scale(1.2) rotate(-45deg); }
	100%{ transform: scale(1) rotate(-45deg); }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes text{
	0% { opacity: 0; transform: translateY(10px); }
    50% { opacity: 0.5; transform: translateY(5px);}
    100% { opacity: 1; transform: translateY(0px);}
}

@media screen and (orientation: portrait){
	.main_block .sign{
		bottom: 25%;
	}

	#inf4{
		flex-direction: column;
	}

	.name{
		font-size: 40px;
	}

	.me{
		font-size: 25px;
	}

	.razdel{
		font-size: 20px;
	}

	.bottom_menu{
		overflow-x: hidden;
	}

	.info{
		font-size: 15px;
	}

	.info h3{
		margin: 10px 20px 0 20px;
		font-size: 20px;
	}

	.info p{
		margin: 10px 20px auto 20px;
		font-size: 15px;
	}

	.footer{
		height: 60px;
		bottom: 10%;
	}

	.close{
		top: 10px;
		right: 10px;
		height: 25px;
		width: 25px;
	}

	.close::after,
	.close::before{
		height: 5px;
		top: 10px;
	}
}

@media screen and (orientation: landscape) and (max-height: 550px){
	.main_block .sign{
		transform: translateY(-50px);
	}
}

@media screen and (orientation: landscape) and (max-width: 1000px){
	.info{
		font-size: 15px;
	}

	.info h3{
		font-size: 20px;
	}

	.info p, .info h3{
		margin: 10px 20px 0 20px;
	}
}

